n8n-Payment Approval & Remainder/Payment & Approval Workflow/Payment Remainder & Payment Approval Email Generator.json
{
  "name": "Payment Remainder & Payment Approval Email Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -64
      ],
      "id": "19d9b4ff-96c4-4159-8686-b45ea8d3e72f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWSD5yELRchQMFj",
          "mode": "list",
          "cachedResultName": "User Registration",
          "cachedResultUrl": "https://airtable.com/appWSD5yELRchQMFj"
        },
        "table": {
          "__rl": true,
          "value": "tblu026aryhLQRZN1",
          "mode": "list",
          "cachedResultName": "Payment Remainder",
          "cachedResultUrl": "https://airtable.com/appWSD5yELRchQMFj/tblu026aryhLQRZN1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -144,
        -64
      ],
      "id": "dfa3c481-0a82-43e4-8ac6-404dd3f42d31",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "V90EO4mEMwR6Vifx",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c446baf-5300-441f-a633-63141291e732",
              "leftValue": "={{ $json.fields['Payment Status'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -64
      ],
      "id": "57b3b6cd-f5c7-4384-a435-cf48f27b19c4",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -160
      ],
      "id": "75b967af-bd56-42b9-a38b-733f8516cbb8",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        80
      ],
      "id": "c872b61a-6c9b-4128-8841-2dfd9392fe38",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Search records').item.json.fields.Email }}",
        "subject": "=ThankYou for your Payment {{ $json.fields['First Name'] }}",
        "message": "=Hi {{ $('Search records').item.json.fields['First Name'] }}, I hope you are doing well.  Thank you so much for your recent payment. We have successfully updated your account status to \"Yes.\" We appreciate your promptness!  Best regards; Developed by Arsal.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        -160
      ],
      "id": "7cc7683a-d882-4aa1-831c-8da4566a60d4",
      "name": "Send ThankYou Message",
      "webhookId": "6af6a5cc-202c-4964-88e5-d27e8a660fc8",
      "credentials": {
        "gmailOAuth2": {
          "id": "E3LnlwyBpykKbHBS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ ($json.fields.Email || '').split(',')[0] }}",
        "subject": "=Pending Payment Remainder to {{ $json.fields['First Name'] }}",
        "message": "=Hi! {{ $json.fields['First Name'] }} I hope you are doing well.  This is a friendly reminder that we have not yet received payment for your accountCould you please look into this at your earliest convenience? \nBest regards;\nDeveloped by Arsal.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        96
      ],
      "id": "2801f2e4-e762-4dd9-8aa2-c109bda28c67",
      "name": "Send Payment Reminder Message",
      "webhookId": "5ab3794f-b6f2-4646-8e5a-736734b7695d",
      "credentials": {
        "gmailOAuth2": {
          "id": "E3LnlwyBpykKbHBS",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Send Payment Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Send ThankYou Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Reminder Message": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send ThankYou Message": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4024db08-bac8-4aca-be1e-b3f79d7d8549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4ae809003743579456a30588448f269f5e9738029f7fef6ae7921965392c067"
  },
  "nodeGroups": [],
  "id": "0lH3XHhLJjvOCQXE",
  "tags": []
}