n8n-AirTable-Procedure/Aritable Implementation/AirTable Implementation.json
{
  "name": "Dealing with AirTable",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Registration",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Birth Date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -416,
        -48
      ],
      "id": "7618f5fa-8e04-463e-8ee9-e23d101cd30f",
      "name": "On form submission",
      "webhookId": "7e201ba6-4719-465e-ab48-1c34f358cbe9"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appWSD5yELRchQMFj",
          "mode": "list",
          "cachedResultName": "User Registration",
          "cachedResultUrl": "https://airtable.com/appWSD5yELRchQMFj"
        },
        "table": {
          "__rl": true,
          "value": "tbl7bhgWj0RxCsYMD",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://airtable.com/appWSD5yELRchQMFj/tbl7bhgWj0RxCsYMD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Email": "={{ $json.Email }}",
            "Birth Date": "={{ $json['Birth Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Birth Date",
              "displayName": "Birth Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -208,
        -48
      ],
      "id": "c3d8d533-d97e-4293-a611-49c1809551af",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "V90EO4mEMwR6Vifx",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15-OobTA879cEM83ZYayF_ruhGJrS5ePfxgohR68FFHY",
          "mode": "list",
          "cachedResultName": "User Reg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-OobTA879cEM83ZYayF_ruhGJrS5ePfxgohR68FFHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-OobTA879cEM83ZYayF_ruhGJrS5ePfxgohR68FFHY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $('On form submission').item.json['Last Name'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "BirthDate": "={{ $('On form submission').item.json['Birth Date'] }}",
            "createdTime": "={{ $('On form submission').item.json.submittedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BirthDate",
              "displayName": "BirthDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdTime",
              "displayName": "createdTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -224
      ],
      "id": "7361dced-deb7-4105-b0ab-4a2c6977946b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gPmemZ92ZrohyRak",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Your Free Consulation Request Received",
        "message": "=Thank you {{ $('On form submission').item.json['First Name'] }} for reaching out for a free consultation! We appreciate your interest and look forward to learning more about your needs. Our team will get back to you shortly to assist you. {{ $('On form submission').item.json['First Name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        -48
      ],
      "id": "3e8d5c22-62f1-43ad-b1ae-5ccaec103b83",
      "name": "Send a message",
      "webhookId": "e4aca3b4-af0c-4a95-a449-f361759c84ea",
      "credentials": {
        "gmailOAuth2": {
          "id": "E3LnlwyBpykKbHBS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appWSD5yELRchQMFj",
          "mode": "list",
          "cachedResultName": "User Registration",
          "cachedResultUrl": "https://airtable.com/appWSD5yELRchQMFj"
        },
        "table": {
          "__rl": true,
          "value": "tbl7bhgWj0RxCsYMD",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://airtable.com/appWSD5yELRchQMFj/tbl7bhgWj0RxCsYMD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Birth Date",
              "displayName": "Birth Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        -48
      ],
      "id": "773d4638-4252-407d-96ba-12df0e93bffa",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "V90EO4mEMwR6Vifx",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4d38f513-00e2-4f99-8592-859b32229ca5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4ae809003743579456a30588448f269f5e9738029f7fef6ae7921965392c067"
  },
  "nodeGroups": [],
  "id": "e3nqj2E83zu3NZrp",
  "tags": []
}