n8n-email-automation/Email Automation/Email Automation.json
{
  "name": "Email Automation",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16JrzICqRh4I51srkjqSUdR29jJMZavhkp77dq4Dy9M8",
          "mode": "list",
          "cachedResultName": "User Registration",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JrzICqRh4I51srkjqSUdR29jJMZavhkp77dq4Dy9M8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JrzICqRh4I51srkjqSUdR29jJMZavhkp77dq4Dy9M8/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -32
      ],
      "id": "6085db59-5d4d-40b0-83ce-f7c37d7378ac",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gPmemZ92ZrohyRak",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        -32
      ],
      "id": "2239f8ab-0502-4e45-97fa-f1099323533e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "Greeting Message.",
        "message": "=A short greeting message to  {{ $json['First Name'] }} \nHi! {{ $json['First Name'] }}\n\nRegards,\nMirza Arsal",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -16
      ],
      "id": "9d29922b-593e-41f0-afd8-51eed7e26b76",
      "name": "Send a message",
      "webhookId": "761e8a64-0d77-41f5-8019-cc95796b8d14",
      "credentials": {
        "gmailOAuth2": {
          "id": "E3LnlwyBpykKbHBS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "595dd6f0-30d1-4baf-aba6-ee2161683f97",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16JrzICqRh4I51srkjqSUdR29jJMZavhkp77dq4Dy9M8",
          "mode": "list",
          "cachedResultName": "User Registration",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JrzICqRh4I51srkjqSUdR29jJMZavhkp77dq4Dy9M8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JrzICqRh4I51srkjqSUdR29jJMZavhkp77dq4Dy9M8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Status": "Success",
            "Submitted At": "={{ $('Get row(s) in sheet').item.json['Submitted At'] }}"
          },
          "matchingColumns": [
            "Submitted At"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -16
      ],
      "id": "7fd91153-e363-461c-927a-24460c6666d0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gPmemZ92ZrohyRak",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "c3afef99-76b2-4400-ae94-8cdd3bad2bdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4ae809003743579456a30588448f269f5e9738029f7fef6ae7921965392c067"
  },
  "nodeGroups": [],
  "id": "3QSv4CfY2gXEp7hc",
  "tags": []
}